# Crap
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.xcuserstate

# Carthage
Carthage/

# Theos
.theos
packages/

# Font
*.ttf
swiped./fonts/loos_reg.ttf
swiped./fonts/loos_md.ttf
