<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>bluesky</string>
		<string>ivory</string>
		<string>snapchat</string>
		<string>instagram</string>
		<string>fb</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>loos_reg.ttf</string>
		<string>loos_md.ttf</string>
		<string>loos_bold.ttf</string>
	</array>
</dict>
</plist>
